---
const { id, classes } = Astro.props;
---
<div id={id} class={`grid gth-2 gtw-3 text-center padding-top padding-bottom maxh-3 ${classes}`}>
    <span class="b gw-2 align-bottom">STRESS</span>
    <span class="b gw-1 align-bottom">INFLUENCE</span>
    <div class="gw-2">
        <div id="pcpanel-stressbox" class="tracker tracked-red">
            <input type="radio" name="attr_pcstress" value="0" class="shape-cross checked-hidden track-zero" checked={true} />
            <input type="radio" name="attr_pcstress" value="1" class="shape-diamond-big" />
            <input type="radio" name="attr_pcstress" value="2" class="shape-diamond-big" />
            <input type="radio" name="attr_pcstress" value="3" class="shape-diamond-big" />
            <input type="radio" name="attr_pcstress" value="4" class="shape-diamond-big" />
            <input type="radio" name="attr_pcstress" value="5" class="shape-diamond-big" />
            <input type="radio" name="attr_pcstress" value="6" class="shape-diamond-big" />
            <input type="radio" name="attr_pcstress" value="7" class="shape-diamond-big" />
            <input type="radio" name="attr_pcstress" value="8" class="shape-diamond-big" />
            <input type="radio" name="attr_pcstress" value="9" class="shape-diamond-big" />
            <input type="radio" disabled={true} class="shape-diamond-big shape-hidden" />
        </div>
    </div>
    <div id="pcpanel-influencebox" class="gw-1 tracker tracked-red">
        <input type="radio" name="attr_pcinfluence" value="0" class="shape-cross checked-hidden track-zero" checked={true} />
        <input type="radio" name="attr_pcinfluence" value="1" class="shape-diamond-big" />
        <input type="radio" name="attr_pcinfluence" value="2" class="shape-diamond-big" />
        <input type="radio" name="attr_pcinfluence" value="3" class="shape-diamond-big" />
        <input type="radio" name="attr_pcinfluence" value="4" class="shape-diamond-big" />
        <input type="radio" disabled={true} class="shape-diamond-med shape-hidden" />
    </div>
</div>