---
import Roll20 from '../layouts/Roll20.astro';
---

<Roll20>
    <input type="radio" value="0" class="shape-diamond-med checked-red" name="page-selector" id="page-selector" />
    <input type="radio" value="1" class="shape-dot checked-red" name="page-selector" id="page-selector" />
    <input type="radio" value="2" class="shape-dot checked-red" name="page-selector" id="page-selector" />
    <input type="radio" value="3" class="shape-dot checked-red" name="page-selector" id="page-selector" />
    <input type="radio" value="4" class="shape-dot checked-red" name="page-selector" id="page-selector" checked={true} />
    <div id="page-1" class="page">
        <div id="housedetailpanel" class="panel-left debug">
            <div id="housedetailpanel-titlebox" class="debug grid gh-3 gw-9 grid gtw-1">
                <div class="debug gw-1 gh-3 gapc-2 text-center"><span class="logo">Court of Blades</span></div>
            </div>
            <div id="housedetailpanel-details" class="debug grid gtw-3">
                <input type="text" name="attr_coteriename" class="gw-3 border-bottom pcdetail" />
                <div class="gw-3 b text-left">COTERIE NAME</div>
                <input type="text" name="attr_housestrengths" class="gw-2 border-bottom pcdetail marg-right" />
                <input type="text" name="attr_househealer" class="gw-1 border-bottom pcdetail" />
                <div class="gw-2 b text-left">STRENGTHS</div>
                <span class="gw-1 b marg-right">HEALER TYPE</span>
                <div class="gw-3 i text-left">Force, Intelligence, Magic, Supply, Transport, or Wealth</div>
                <div class="gw-3 grid gtw-3 align-center">
                    <input type="text" name="attr_houserep" class="pcdetail gw-3" />
                    <div class="gw-2 b text-left">REPUTATIONS</div>
                    <div class="gw-1 b text-center">INFLUENCE</div>
                    <div class="gw-2 i">Ambitious, Brutal, Daring, Honorable, Subtle, Arcane, Loyal, Reliable, Uncouth, Respectable, Dangerous</div>
                    <div id="housedetailpanel-influencebox" class="gw-1 tracker tracked-red text-center">
                        <input type="radio" name="attr_houseinfluence" value="0" class="shape-cross checked-hidden track-zero" checked={true} />
                        <input type="radio" name="attr_houseinfluence" value="1" class="shape-diamond-big" />
                        <input type="radio" name="attr_houseinfluence" value="2" class="shape-diamond-big" />
                        <input type="radio" name="attr_houseinfluence" value="3" class="shape-diamond-big" />
                        <input type="radio" name="attr_houseinfluence" value="4" class="shape-diamond-big" />
                        <input type="radio" disabled={true} class="shape-diamond-med shape-hidden" />
                    </div>
                </div>
            </div>
            <div id="housepanel-exposureshame" class="debug gw-9 grid gth-2 gtw-3 text-center padding-top padding-bottom maxh-3">
                <span class="b gw-2 align-bottom">EXPOSURE</span>
                <span class="b gw-1 align-bottom">SHAME</span>
                <div class="gw-2">
                    <div id="housedetailpanel-exposurebox" class="tracker tracked-red">
                        <input type="radio" name="attr_exposure" value="0" class="shape-cross checked-hidden track-zero" checked={true} />
                        <input type="radio" name="attr_exposure" value="1" class="shape-diamond-big" />
                        <input type="radio" name="attr_exposure" value="2" class="shape-diamond-big" />
                        <input type="radio" name="attr_exposure" value="3" class="shape-diamond-big" />
                        <input type="radio" name="attr_exposure" value="4" class="shape-diamond-big" />
                        <input type="radio" name="attr_exposure" value="5" class="shape-diamond-big" />
                        <input type="radio" name="attr_exposure" value="6" class="shape-diamond-big" />
                        <input type="radio" name="attr_exposure" value="7" class="shape-diamond-big" />
                        <input type="radio" name="attr_exposure" value="8" class="shape-diamond-big" />
                        <input type="radio" name="attr_exposure" value="9" class="shape-diamond-big" />
                        <input type="radio" disabled={true} class="shape-diamond-big shape-hidden" />
                    </div>
                </div>
                <div id="housedetailpanel-shamebox" class="gw-1 tracker tracked-red">
                    <input type="radio" name="attr_shame" value="0" class="shape-cross checked-hidden track-zero" checked={true} />
                    <input type="radio" name="attr_shame" value="1" class="shape-diamond-big" />
                    <input type="radio" name="attr_shame" value="2" class="shape-diamond-big" />
                    <input type="radio" name="attr_shame" value="4" class="shape-diamond-big" />
                    <input type="radio" disabled={true} class="shape-diamond-med shape-hidden" />
                </div>
            </div>
            <div id="housedetailpanel-soi" class="debug grid gtw-1">
                <div class="grid gtw-3 align-end">
                    <div class="paramourname gw-1 align-end text-right pad-right content">Favored Contact</div>
                    <input type="text" name="attr_housefavcontact" class="gw-2 pcdetail" />
                </div>
                <div class="bg-med b text-left marg-top">SPHERES OF INFLUENCE</div>
                <div class="bg-light b i text-left">
                    the Plaza, the Banks, the Theatre, the Arsenal, the Twist, the Grand Gate, the Docks,
                    the Granary, the Artist's Quarter, the Traitor's gate, the Arbor, the Necorpolitan Hill,
                    the Silk, the Palace, the University, the Market, the Foreign Quarter, the Watch,
                    the Canals, the Temples, the Garden
                </div>
                <fieldset id="housedetailspanl-soi" class="debug grid gtw-1">
                    <div class="debug grid gtw-2">
                        <input type="text" name="attr_soi1name" class="border-bottom" />
                        <input type="text" name="attr_soi1perk" class="border-bottom" />
                        <div class="text-left b">SPHERE OF INFLUENCE</div>
                        <div class="text-left b">PERK</div>
                        <input type="text" name="attr_soi1contacts" class="gw-2 border-bottom" />
                        <div class="gw-2 text-left b">CONTACTS</div>
                    </div>
                    <div class="debug grid gtw-2">
                        <input type="text" name="attr_soi2name" class="border-bottom" />
                        <input type="text" name="attr_soi2perk" class="border-bottom" />
                        <div class="text-left b">SPHERE OF INFLUENCE</div>
                        <div class="text-left b">PERK</div>
                        <input type="text" name="attr_soi2contacts" class="gw-2 border-bottom" />
                        <div class="gw-2 text-left b">CONTACTS</div>
                    </div>
                    <div class="debug grid gtw-2">
                        <input type="text" name="attr_soi3name" class="border-bottom" />
                        <input type="text" name="attr_soi3perk" class="border-bottom" />
                        <div class="text-left b">SPHERE OF INFLUENCE</div>
                        <div class="text-left b">PERK</div>
                        <input type="text" name="attr_soi3contacts" class="gw-2 border-bottom" />
                        <div class="gw-2 text-left b">CONTACTS</div>
                    </div>
                    <div class="debug grid gtw-2">
                        <input type="text" name="attr_soi4name" class="border-bottom" />
                        <input type="text" name="attr_soi4perk" class="border-bottom" />
                        <div class="text-left b">SPHERE OF INFLUENCE</div>
                        <div class="text-left b">PERK</div>
                        <input type="text" name="attr_soi4contacts" class="gw-2 border-bottom" />
                        <div class="gw-2 text-left b">CONTACTS</div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="houseabilitypanel" class="grid gtw-1 panel-centre">
            <div id="houseabilitypanel-titlebox" class="debug gh-3 grid gth-3 gtw-1">
                <input type="text" name="attr_housename" id="houseabilitypanel-titlebox-title" class="debug gh-2 titlebox-title" value="House Battalia" />
                <input type="text" name="attr_housewords" class="titlebox-subtitle text-center" value="&quot;Upon Our Shields&quot;" />
            </div>
            <div id="houseabilitypanel-specfeatbox" class="debug grid gtw-1">
                <div id="houseabilitypanel-specfeatbox-heading" class="debug heading bg-med">SPECIAL FEATURE</div>
                <div class="debug checkbox-row-named">
                    <span class="row-cb-holder">
                        <input type="checkbox" checked={true} disabled={true} class="shape-dot checked-red align-start" name="attr_">
                    </span>
                    <textarea rows={1} name="attr_" class="ability-label mylabel align-start" spellcheck="false">Ability name</textarea>
                    <textarea rows={1} name="attr_" class="clock-label mylabel align-start" spellcheck="false">Ability description goes here</textarea>
                </div>
            </div>
            <div id="houseabilitypanel-abilitybox" class="debug grid gtw-1">
                <div id="houseabilitypanel-specfeatbox-heading" class="debug heading bg-med">SPECIAL ABILITES</div>
                <div class="debug checkbox-row-named">
                    <span class="row-cb-holder">
                        <input type="checkbox" class="shape-dot checked-red align-start" name="attr_">
                    </span>
                    <textarea rows={1} name="attr_" class="ability-label mylabel align-start" spellcheck="false">Ability name</textarea>
                    <textarea rows={1} name="attr_" class="clock-label mylabel align-start" spellcheck="false">Ability description goes here</textarea>
                </div>
                <div class="debug checkbox-row-named">
                    <span class="row-cb-holder">
                        <input type="checkbox" class="shape-dot checked-red align-start" name="attr_">
                    </span>
                    <textarea rows={1} name="attr_" class="ability-label mylabel align-start" spellcheck="false">Ability name</textarea>
                    <textarea rows={1} name="attr_" class="clock-label mylabel align-start" spellcheck="false">Ability description goes here</textarea>
                </div>
                <div class="debug checkbox-row-named">
                    <span class="row-cb-holder">
                        <input type="checkbox" class="shape-dot checked-red align-start" name="attr_">
                    </span>
                    <textarea rows={1} name="attr_" class="ability-label mylabel align-start" spellcheck="false">Ability name</textarea>
                    <textarea rows={1} name="attr_" class="clock-label mylabel align-start" spellcheck="false">Ability description goes here</textarea>
                </div>
                <div class="debug checkbox-row-named">
                    <span class="row-cb-holder">
                        <input type="checkbox" class="shape-dot checked-red align-start" name="attr_">
                    </span>
                    <textarea rows={1} name="attr_" class="ability-label mylabel align-start" spellcheck="false">Ability name</textarea>
                    <textarea rows={1} name="attr_" class="clock-label mylabel align-start" spellcheck="false">Ability description goes here</textarea>
                </div>
                <div class="debug checkbox-row-named">
                    <span class="row-cb-holder">
                        <input type="checkbox" class="shape-dot checked-red align-start" name="attr_">
                    </span>
                    <textarea rows={1} name="attr_" class="ability-label mylabel align-start" spellcheck="false">Ability name</textarea>
                    <textarea rows={1} name="attr_" class="clock-label mylabel align-start" spellcheck="false">Ability description goes here</textarea>
                </div>
                <div class="debug checkbox-row-named">
                    <span class="row-cb-holder">
                        <input type="checkbox" class="shape-dot checked-red align-start" name="attr_">
                    </span>
                    <textarea rows={1} name="attr_" class="ability-label mylabel align-start" spellcheck="false">Ability name</textarea>
                    <textarea rows={1} name="attr_" class="clock-label mylabel align-start" spellcheck="false">Ability description goes here</textarea>
                </div>
                <div class="debug checkbox-row-named">
                    <span class="row-cb-holder">
                        <input type="checkbox" class="shape-dot checked-red align-start" name="attr_">
                    </span>
                    <textarea rows={1} name="attr_" class="ability-label mylabel align-start" spellcheck="false">Ability name</textarea>
                    <textarea rows={1} name="attr_" class="clock-label mylabel align-start" spellcheck="false">Ability description goes here</textarea>
                </div>
            </div>
            <div id="houseabilitypanel-xpbox" class="debug grid gtw-1">
                <div id="houseabilitypanel-xpbox-heading" class="debug heading bg-med">XP TRIGGERS</div>
                <div class="debug text-center">At the end of each session, for each item below, mark 1 xp (on your House sheet), for a maximum of 4 xp.</div>
                <div class="debug xp-row">
                    <span class="shape-diamond-small xp-bullet"></span>
                    <input type="text" name="attr_" class="pad-left" value="You overcame an obstacle with Honor or Tradition." />
                </div>
                <div class="debug xp-row">
                    <span class="shape-diamond-small xp-bullet"></span>
                    <input type="text" name="attr_" class="pad-left" value="You contended with challenges above your current station." />
                </div>
                <div class="debug xp-row">
                    <span class="shape-diamond-small xp-bullet"></span>
                    <input type="text" name="attr_" class="pad-left" value="You bolstered your coterie's reputation or developed a new one." />
                </div>
                <div class="debug xp-row">
                    <span class="shape-diamond-small xp-bullet"></span>
                    <input type="text" name="attr_" class="pad-left" value="You expressed the goals, drives, inner conflict, or essential nature of the coterie." />
                </div>
            </div>
            <div id="houseabilitypanel-retinues" class="debug grid gtw-1 marg-top bg-light round-borders">
                <div class="b text-center">RETINUES AND COLLEAGUES</div>
                <textarea></textarea>
            </div>
        </div>
        <div id="houseupgradepanel" class="debug panel-right">
            <div id="houseupgradepanel-charxp" class="debug grid gtw-1 gapr-2">
                <div id="houseupgradepanel-charxp-title" class="debug header gh-1 text-center vert-bottom b heading"><br />COTERIE XP</div>
                <div id="houseupgradepanel-charxp-tracker" class="debug gh-1 tracker tracked-red text-center">
                    <input type="radio" name="attr_housexp" value="0" class="track-zero checked-hidden shape-cross" checked={true} />
                    <input type="radio" name="attr_housexp" value="1" class="shape-diamond-med" />
                    <input type="radio" name="attr_housexp" value="2" class="shape-diamond-med" />
                    <input type="radio" name="attr_housexp" value="3" class="shape-diamond-med" />
                    <input type="radio" name="attr_housexp" value="4" class="shape-diamond-med" />
                    <input type="radio" name="attr_housexp" value="5" class="shape-diamond-med" />
                    <input type="radio" name="attr_housexp" value="6" class="shape-diamond-med" />
                    <input type="radio" name="attr_housexp" value="7" class="shape-diamond-med" />
                    <input type="radio" name="attr_housexp" value="8" class="shape-diamond-med" />
                    <input type="radio" name="attr_housexp" value="9" class="shape-diamond-med" />
                    <input type="radio" name="attr_housexp" value="10" class="shape-diamond-med" />
                    <input type="radio" disabled={true} class="shape-diamond-med tracked-dark shape-hidden" />
                    <span><br /></span>
                </div>
            </div>
            <div id="houseupgradepanel-unique" class="debug">
                <div class="skillname">UNIQUE UPGRADES</div>
                <div class="checkbox-row">
                    <span class="row-cb-holder">
                        <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                    </span>
                    <div class="tooltip">
                        <input type="text" name="attr_" class="b" value="THE LADY'S BLESSING" />
                        <textarea class="tooltip-text">The coterie gains one additional die to roll at any time during an engagment.</textarea>
                    </div>
                </div>
                <div class="checkbox-row">
                    <span class="row-cb-holder">
                        <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                    </span>
                    <div class="tooltip">
                        <input type="text" name="attr_" class="b" placeholder="Ability name" />
                        <textarea class="tooltip-text">Ability description</textarea>
                    </div>
                </div>
                <div class="checkbox-row">
                    <span class="row-cb-holder">
                        <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                    </span>
                    <div class="tooltip">
                        <input type="text" name="attr_" class="b" placeholder="Ability name" />
                        <textarea class="tooltip-text">Ability description</textarea>
                    </div>
                </div>
                <div class="checkbox-row">
                    <span class="row-cb-holder">
                        <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                    </span>
                    <div class="tooltip">
                        <input type="text" name="attr_" class="b" placeholder="Ability name" />
                        <textarea class="tooltip-text">Ability description</textarea>
                    </div>
                </div>
            </div>
            <div id="houseupgradepanel-universal" class="debug grid gtw-1">
                <div class="skillname ">UNIVERSAL UPGRADES</div>
                <div class="debug grid gtw-2">
                    <div class="b i gw-2">Quality:</div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Documents" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Gear" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Tools" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Implements" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Supplies" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Weapons" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                </div>
                <div class="debug grid gtw-3">
                    <div class="b i gw-3">Training:</div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Mind" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Body" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Spirit" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                </div>
                <div class="debug grid gtw-1">
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <input type="text" name="attr_" class="b" value="Retinues and Colleagues" />
                    </div>
                    <div class="checkbox-row i mylabel">
                        <div></div>
                        <div>
                            The coterie hires a retinue or college.<br />
                            RETINUES are groups of trained professionals that work in unison.<br />
                            COLLEAGEUES are experts with a specific area of mastery.<br />
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Private Apartments" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Hidden Exit" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Workspace" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Ritual Space" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Private Library" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Arcane Wards" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                    <div class="checkbox-row">
                        <span class="row-cb-holder">
                            <input type="checkbox" name="attr_" value="1" class="shape-dot checked-red unchecked-light" />
                        </span>
                        <div class="tooltip">
                            <input type="text" name="attr_" class="b" value="Dedicated Transportation" />
                            <textarea class="tooltip-text">Description</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Roll20>