---
const {attr, maxSize, defaultSize} = Astro.props;
---
<div class="clock-container">
    <input type="hidden" class="clock-size" value={defaultSize} />

    <div class="spoke-0 clock-2 clock-4 clock-6 clock-8 clock-10 clock-12"></div>
    <div class="spoke-30 clock-12"></div>
    <div class="spoke-45 clock-8"></div>
    <div class="spoke-36 clock-10"></div>
    <div class="spoke-60 clock-6 clock-12"></div>
    <div class="spoke-72 clock-10"></div>
    <div class="spoke-90 clock-4 clock-8 clock-12"></div>
    <div class="spoke-108 clock-10"></div>
    <div class="spoke-120 clock-6 clock-12"></div>
    <div class="spoke-135 clock-8"></div>
    <div class="spoke-144 clock-10"></div>
    <div class="spoke-150 clock-12"></div>

    <input class="clock-zero clock-progress" type="radio" name={`attr_${attr}`} value="0" checked={true}>
    <span class="clock-zero-button"></span>

    <input class="clock-progress clock-2 clock-4 clock-6 clock-8 clock-10 clock-12" type="radio" value="1" name={`attr_${attr}`}>
    <input class="clock-progress clock-2 clock-4 clock-6 clock-8 clock-10 clock-12" type="radio" value="2" name={`attr_${attr}`}>
    { (maxSize > 2) &&
        <>
            <input class="clock-progress clock-4 clock-6 clock-8 clock-10 clock-12" type="radio" value="3" name={`attr_${attr}`}>
            <input class="clock-progress clock-4 clock-6 clock-8 clock-10 clock-12" type="radio" value="4" name={`attr_${attr}`}>
        </>
    }
    { (maxSize > 4) &&
        <>
            <input class="clock-progress clock-6 clock-8 clock-10 clock-12" type="radio" value="5" name={`attr_${attr}`}>
            <input class="clock-progress clock-6 clock-8 clock-10 clock-12" type="radio" value="6" name={`attr_${attr}`}>
        </>
    }
    { (maxSize > 6) &&
        <>
            <input class="clock-progress clock-8 clock-10 clock-12" type="radio" value="7" name={`attr_${attr}`}>
            <input class="clock-progress clock-8 clock-10 clock-12" type="radio" value="8" name={`attr_${attr}`}>
        </>
    }
    { (maxSize > 8) &&
        <>
            <input class="clock-progress clock-10 clock-12" type="radio" value="9" name={`attr_${attr}`}>
            <input class="clock-progress clock-10 clock-12" type="radio" value="10" name={`attr_${attr}`}>
        </>
    }
    { (maxSize > 10) &&
        <>
            <input class="clock-progress clock-12" type="radio" value="11" name={`attr_${attr}`}>
            <input class="clock-progress clock-12" type="radio" value="12" name={`attr_${attr}`}>
        </>
    }
    <div class="clock-image"></div>
</div>