---
const {
    id, 
    classes, 
    attr, 
    label,
    labelTranslation
} = Astro.props;
import FieldAutoExpandText from "../Field/Field_AutoExpandText.astro";
---
<div id={id} class={`grid gtw-1 round-borders bordered ${classes || ""}`}>
    <div class="b text-center upcase round-borders-top border-bottom bg-light" data-i18n={labelTranslation}>{label}</div>
    <FieldAutoExpandText
        attr={attr}
        classes="bg-white round-borders-bottom"
        textClasses="pad-left pad-right min-h"
        placeholderTranslation={labelTranslation}>
    </FieldAutoExpandText>
</div>