---
import LogoBox from "../../components/Box/Box_Logo.astro";
import SettingListDropdown from "../../components/Settings/SettingList_Dropdown.astro";
import SettingListText from "../../components/Settings/SettingList_Text.astro";
import SettingListTextDouble from "../../components/Settings/SettingList_TextDouble.astro";
import SettingDropdown from "../../components/Settings/Setting_Dropdown.astro";
import SettingText from "../../components/Settings/Setting_Text.astro";
import VisibilityControl from "../../components/Visibility/Visibility_Control.astro";

import Page from "../Page.astro";

const {
    id, 
    classes, 
    pageNum,
    attrCountAttr,
    attrNameAttrPrefix,
    attrDescAttrPrefix,
    skillCountAttrPrefix,
    skillNameAttrPrefix,
    skillDescAttrPrefix,
} = Astro.props;
function toArray(arg) { return Array.from(Array(arg), (x, i) => i + 1); }
const maxCount = 6;
const maxCountString = "1=1;2=2;3=3;4=4;5=5;6=6"
//attr_scandaltype
---

<Page id={id} classes={classes} pageNum={pageNum}>
    <div class="grid gtw-1 max-width gapw-4">
        <div class="flex-left gw-1">
            <LogoBox></LogoBox>
            <div class="titlebox-title logo-title offset-from-top" data-i18n="SheetSettings">Sheet Settings</div>
        </div>
        <div class="offset-for-title offset-innerpanel-full marg-top pad-top grid gtw-3 gapw-6">
            <div class="border-bold-left border-bold-right border-bold-top border-bold-bottom bg-white grid gtw-1">
                <div class="capitalise b i text-center heading" data-i18n="ActionsAndAttributes">Actions &amp; Attributes</div>
                &nbsp;
                <div class="bg-med b upcase border-top border-bottom" data-i18n="Attributes">Attributes</div>
                <div id="setting-attributes-general">
                    <SettingDropdown
                        class=""
                        titleTranslation="NumberOfAttributes"
                        attr="setting_attrcount"
                        options={maxCountString}
                        defaultOption={3}
                        >
                    </SettingDropdown>

                    <VisibilityControl attr="setting_attrcount"></VisibilityControl>
                    <SettingListDropdown
                        titleTranslation="NumberOfSkillsInAttribute"
                        defaultOption={4}
                        attr="setting_attrskillcount"
                        count={maxCount}>
                    </SettingListDropdown>
                </div>
                
                <div class="grid gtw-1">
                    <VisibilityControl attr="setting_attrcount"></VisibilityControl>
                    {toArray(maxCount).map((i) => (<>
                        <div class={`grid gtw-1 visibility-gte-${i}`}>
                            <div class="bg-med b upcase border-top border-bottom marg-top">
                                &nbsp;<span data-i18n="Attribute"></span> {i} (<span name={`attr_pcattrname${i}`}></span>)
                            </div>
                            <SettingText
                                titleTranslation="AttributeName"
                                attr={`pcattrname${i}`}>
                            </SettingText>
                            <SettingText
                                titleTranslation="ResistanceDescription"
                                attr={`pcattrdesc${i}`}>
                            </SettingText>
                            <div class="grid gtw-1">
                                <VisibilityControl attr={`setting_attrskillcount${i}`}></VisibilityControl>
                                <SettingListTextDouble
                                    titleTranslation="Action"
                                    attr1={`pcskillname${i}`}
                                    attr2={`pcskilldesc${i}`}
                                    count={maxCount}>
                                </SettingListTextDouble>
                            </div>
                        </div>
                    </>))}
                </div>
            </div>
            <div class="border-bold-left border-bold-right border-bold-top border-bold-bottom bg-white grid gtw-1">
                <div class="capitalise b i text-center heading" data-i18n="Playbook">Playbook</div>
                <div class="bg-med b upcase border-top border-bottom pad-left" data-i18n="General">General</div>
                <div class="grid gtw-1">
                    <SettingDropdown
                        titleTranslation="TraumaTypes"
                        defaultOption={1}
                        options="1=Scandals;2=Shatters"
                        attr="scandaltype"
                        count={maxCount}>
                    </SettingDropdown>
                    <SettingDropdown
                        titleTranslation="Playbook"
                        defaultOption={0}
                        options="0=Not Set;1=The Bravo;2=The Hawk;3=The Eye;4=The Couth;5=The Knack;6=The Key;7=The Kiss;8=The Curse;99=Custom"
                        attr="playbooktype"
                        count={maxCount}>
                    </SettingDropdown>
                    <SettingDropdown
                        titleTranslation="Coterie"
                        defaultOption={0}
                        options="0=Not Set;1=House Corvetto;3=House Battalia;4=HouseBastien;5=House Lovell;6=House Al-Mari;7=House Elanda;99=Custom"
                        attr="coteriehouse"
                        count={maxCount}>
                    </SettingDropdown>
                </div>
                <div class="bg-med b upcase border-top border-bottom pad-left" data-i18n="Items"></div>
                <div>
                    <label class="captialise b customsetting">&nbsp;<span data-i18n="UniversalItemsList">Universal items list</span>:</label>
                    <button class="customsetting upcase" data-i18n="Reset">RESET</button>
                </div>
            </div>
        </div>
    </div>  
</Page>