---
---
<rolltemplate is:raw class="sheet-rolltemplate-cob-action">
    <div class="template-container">
        <div class="upper">
            <div class="name">{{#house}}<span data-i18n="House"></span> {{/house}}{{name}} <span data-i18n="Rolls"></span></div>
            {{#statname}}<div class="stat" data-i18n="{{statname}}"></div>{{/statname}}
            {{#stat}}<div class="stat">{{stat}}</div>{{/stat}}
        </div>
        <div class="lower">
            <div class="dice">
                {{^zerodice}}
                <div class="zerodice3">
                    <span  data-i18n="Dice"></span>
                </div>
                <div>{{dice}}</div>
                {{/zerodice}}
                {{#zerodice}}
                    <div class="zerodice3" data-i18n="ZeroDice"></div>
                    <div class="zerodice1">{{zerodice}}</div>
                    <div class="zerodice2" data-i18n="ZeroDiceDescription"></div>
                {{/zerodice}}
            </div>
            {{#action}}
            <div class="detail">
                <div class="position">
                    <div>Position</div>
                    <div>{{position}}</div>
                </div>
                <div class="effect">
                    <div>Effect</div>
                    <div>{{effect}}</div>
                </div>
            </div>
            {{/action}}
        </div>
    </div>
    {{#zerodice}}<img class="sword zero" src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Court%20Of%20Blades/Images/Sword.png"/>{{/zerodice}}
    {{^zerodice}}<img class="sword nonzero" src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Court%20Of%20Blades/Images/Sword.png"/>{{/zerodice}}
</rolltemplate>