---
---
<rolltemplate is:raw class="sheet-rolltemplate-cob-action">
    <div class="template-container">
        <div class="upper">
            {{#action}}<div class="name">{{name}} rolls</div>{{/action}}
            {{#resist}}<div class="name">{{name}} rolls to resist with</div>{{/resist}}
            <div class="stat">{{stat}}</div>
        </div>
        <div class="lower">
            <div class="dice">
                {{^zerodice}}{{dice}}{{/zerodice}}
                {{#zerodice}}
                    <div class="zerodice1">{{zerodice}}</div>
                    <div class="zerodice2" data-i18n="ZeroDiceDescription">[placeholder]</div>
                {{/zerodice}}
            </div>
            {{#action}}
            <div class="detail">
                <div class="position">
                    <div>Position</div>
                    <div>{{position}}</div>
                </div>
                <div class="effect">
                    <div>Effect</div>
                    <div>{{effect}}</div>
                </div>
            </div>
            {{/action}}
        </div>
    </div>
    <img class="sword" src="https://raw.githubusercontent.com/TTiatia/CourtOfBladesSheets/main/Astro/public/Sword.png"/>
</rolltemplate>