---
const { 
    attr, 
    classes, 
    textClasses,
    placeholderTranslation } = Astro.props;
---

<div class={`auto-expand ${classes || ""}`}>
    <span name={`attr_${attr}`}  class={textClasses}></span>
    <textarea rows={1} name={`attr_${attr}`} class={textClasses} spellcheck="false" data-i18n-placeholder={placeholderTranslation}></textarea>
</div>