---
import PCAttributeRow from "../Row/Row_PCAttribute.astro";
import PCSkillRow from "../Row/Row_PCSkill.astro";
import VisibilityControl from "../Visibility/Visibility_Control.astro";

const {
    id, 
    classes,
    skillPerCategory,
    catNum,
    categoryNameAttr,
    categoryValueAttr,
    categoryXPAttr,
    categoryTooltipAttr,
    categoryXPCount,
    skillNameAttr,
    skillValueAttr,
    skillTooltipAttr,
    maxSkillCount
} = Astro.props;

function toArray(arg) { return Array.from(Array(arg), (x, i) => i + 1); }
---
<div class={`marg-bottom pad-bottom ${classes || ""}`}>
    <PCAttributeRow 
        catNum={catNum}
        categoryNameAttr={`${categoryNameAttr}`}
        categoryValueAttr={`${categoryValueAttr}`}
        categoryXPAttr={`${categoryXPAttr}`}
        categoryTooltipAttr={`${categoryTooltipAttr}`}
        categoryXPCount={categoryXPCount}>
    </PCAttributeRow>
    <VisibilityControl attr={`setting_attrskillcount${catNum}`}></VisibilityControl>
    {toArray(skillPerCategory).map((skillNum) => (
        <>
            <PCSkillRow
                skillNameAttr={`${skillNameAttr}${skillNum}`}
                skillValueAttr={`${skillValueAttr}${skillNum}`}
                skillTooltipAttr={`${skillTooltipAttr}${skillNum}`}
                maxSkillCount={maxSkillCount}
                classes={`visibility-gte-${skillNum}`}>
            </PCSkillRow>
        </>
    ))}
</div>
