---
import RepeatingSection from "../../components/Roll20/Roll20_RepeatingSection.astro";

const {id, classes, repAttr,nameAttr, perkAttr, contactsAttr} = Astro.props;
---
<div id={id} class={`grid gtw-1 bordered ${classes}`}>
    <div class="bg-med b upcase border-bottom pad-left">Spheres of influence</div>
    <div>
        <RepeatingSection
            classes="repblock"
            attr={repAttr}>
            <div class="grid gtw-2 pad-left pad-right pad-top pad-bottom marg-top marg-left marg-right bordered round-borders bg-white">
                <input type="text" name={`attr_${nameAttr}`} class="border-bottom" />
                <input type="text" name={`attr_${perkAttr}`} class="border-bottom" />
                <div class="text-left b upcase">Sphere of influence</div>
                <div class="text-left b upcase">Perk</div>
                <input type="text" name={`attr_${contactsAttr}`} class="gw-2 border-bottom" />
                <div class="gw-2 text-left b upcase">Contacts</div>
            </div>
        </RepeatingSection>
    </div>
</div>