---
const {id, classes, nameAttr, activeAttr} = Astro.props;
---
    <div id={id} class={`grid-favoured-contact ${classes}`}>
        <div class="paramourname align-end text-bottom pad-right captialise">Favoured Contact</div>
        <input type="text" name={`attr_${nameAttr}`} class="pcdetail" />
        <div class="flex-vert-center flex-center">
            <input type="checkbox" class="shape-heart checked-red" name={`attr_${activeAttr}`} checked={false}/>
        </div>
    </div>