---
import RepeatingSection from "../Roll20/Roll20_RepeatingSection.astro";
import FieldAutoExpandText from "../Field/Field_AutoExpandText.astro";
const {
    id, 
    classes, 
    repeatAttr, 
    enabledAttr, 
    nameAttr, 
    descAttr, 
    title,
    titleTranslation,
    hasName,
} = Astro.props;
---
<div class={`grid gtw-1 ${classes || ""}`}>
    <div class="heading bg-med pad-left border-top border-bottom upcase"  data-i18n={titleTranslation || ""}>{title}</div>
    <RepeatingSection attr={repeatAttr} classes="ability-list">
        { hasName == true &&
        <>
            <div class="flex-left flex-vert-top pad-left">
                <div class="row-cb-holder marg-right">
                    <input type="checkbox" class="shape-dot checked-red align-start" value={1} name={`attr_${enabledAttr}`}>
                </div>
                <input type="text" name={`attr_${nameAttr}`} class="ability-label mylabel align-start" placeholder="Ability name"  data-i18n-placeholder="AbilityName">
            </div>
            <input type="hidden" name={`attr_${enabledAttr}_autofill`} value="1" />
            <FieldAutoExpandText
                attr={descAttr}
                classes="marg-bottom"
                textClasses="pad-left pad-right min-h"
                placeholderTranslation="AbilityDescription">
            </FieldAutoExpandText>
        </>
        }
        {!hasName &&
        <>
            <div class="flex-left flex-vert-top pad-left">
                <div class="row-cb-holder marg-right">
                    <input type="checkbox" class="shape-dot checked-red align-start" value={1} name={`attr_${enabledAttr}`}>
                </div>
                <input type="hidden" name={`attr_${enabledAttr}_autofill`} value="1" />
                <FieldAutoExpandText
                    attr={descAttr}
                    classes="flex-grow"
                    textClasses="pad-left pad-right min-h"
                    placeholderTranslation="AbilityDescription">
                </FieldAutoExpandText>
            </div>
        </>
        }
    </RepeatingSection>
</div>