---
import RepeatingSection from "../Roll20/Roll20_RepeatingSection.astro";

const {
    id, 
    classes, 
    title, 
    titleTranslation,
    repeatAttr, 
    nameAttr,
    descAttr,
    valueAttr, 
    styleAttr
} = Astro.props;
---
<div id={id} class={`grid gtw-1 marg-top ${classes}`}>
    {title != "" && <><div class="bg-med b upcase pad-left" data-i18n={titleTranslation || ""}>{title}</div></>}
    <RepeatingSection attr={repeatAttr} classes="item-list">
        <div class="flex-left">
            <input type="hidden" class="item-show-size" name={`attr_${styleAttr}size`} value="0" />
            <input type="hidden" class="item-show-style" name={`attr_${styleAttr}style`} value="0" />
            <div class="item-size-selector flex-left">
                <label class="text-center"><span data-i18n="SelectSize">Select size</span>:</label>
                <select class="item-size" name={`attr_${styleAttr}size`} value="0">
                    <option class="0" selected={true}></option>
                    <option class="1" data-i18n="1">1</option>
                    <option class="2" data-i18n="2">2</option>
                    <option class="3" data-i18n="3">3</option>
                </select>
            </div>
            <div class="item-style-selector flex-right">
                <label class="text-center"><span data-i18n="SelectStyle">Select style</span>:</label>
                <select class="item-style" name={`attr_${styleAttr}style`} value="0">
                    <option class="0" selected={true}></option>
                    <option value="n" data-i18n="Normal">Normal</option>
                    <option value="i" class="i" data-i18n="Italics">Italics</option>
                    <option value="b" class="b" data-i18n="Bold">Bold</option>
                    <option value="bi" class="b i" data-i18n="BoldAndItalics">Bold Italics</option>
                </select>
            </div>
            <div class="item-boxes">
                <input type="checkbox" value="1" name={`attr_${valueAttr}`} class="shape-square-med checked-red" />
                <input type="checkbox" value="1" name={`attr_${valueAttr}`} class="shape-square-med checked-red" />
                <input type="checkbox" value="1" name={`attr_${valueAttr}`} class="shape-square-med checked-red" />
            </div>
            <div class="item-name">
                <div class=" tooltip-custom">
                    <input type="text" class="item-name marg-left capitalise" name={`attr_${nameAttr}`} placeholder="Item name"  data-i18n-placeholder="ItemName"/>
                    <textarea spellcheck={false} name={`attr_${descAttr}`} class="tooltip-custom-text" data-i18n-placeholder="Description"></textarea>
                </div>
            </div>
            
        </div>
    </RepeatingSection>
</div>
