---
const {
    categoryNameAttr,
    categoryValueAttr,
    categoryTooltipAttr,
    categoryXPCount,
} = Astro.props;

function toArray(arg) { return Array.from(Array(arg), (x, i) => i + 1); }
---

<div class="gw-1 flex-spaced skillname tooltip-custom bordered">
    <div class="text-left pad-left align-center ">
        <input class="vert-middle" name={`attr_${categoryNameAttr}`} type="text" disabled={true} placeholder="Attribute"/>
    </div>
    <div class="gw-8 tracker tracked-red">
        <input type="radio" name={`attr_${categoryValueAttr}`} value="0" class="shape-cross checked-hidden track-zero" checked={true} />
        {toArray(categoryXPCount).map((i) => (
            <>
                <input type="radio" name={`attr_${categoryValueAttr}`} value={i} class="shape-diamond-med" />
            </>
        ))}
    </div>
        <textarea class="tooltip-custom-text" name={`attr_${categoryTooltipAttr}`} placeholder="Attribute description"></textarea>
</div>