---
import ClockDynamicContainer from "../Clocks/Clocks_DynamicContainer.astro";
import FieldAutoExpandText from "../Field/Field_AutoExpandText.astro";
const {factionNumber, nameAttr, strengthAttr, statAttr, notesAttr, clockPrefixAttr} = Astro.props;
---
<div class="grid-gmturn-row border-bottom marg-bottom">
    <div class="grid gth-2 gtw-1">
        <input type="text" name={`attr_${nameAttr}${factionNumber}`} class="b pcdetail" placeholder="House Name"  data-i18n-placeholder="HouseName" />
        <FieldAutoExpandText
            attr={`${strengthAttr}${factionNumber}`}
            classes=""
            textClasses="pad-left min-h"
            placeholderTranslation="Strengths">
        </FieldAutoExpandText>
    </div>

    <div class="grid gtw-1 gth-4 gaph-2 pad-left">
        <div class="grid-stat-row">
            <div class="tracker tracked-red">
                <input type="radio" name={`attr_${statAttr}${factionNumber}1`} value="0" class="track-zero shape-cross checked-hidden" checked={true} />
                <input type="radio" name={`attr_${statAttr}${factionNumber}1`} value="1" class="shape-dot" />
                <input type="radio" name={`attr_${statAttr}${factionNumber}1`} value="2" class="shape-dot" />
                <input type="radio" name={`attr_${statAttr}${factionNumber}1`} value="3" class="shape-dot" />
            </div>
            <div class="pad-left b capitalise" data-i18n="Reach">Reach</div>
        </div>
        <div class="grid-stat-row">
            <div class="tracker tracked-red">
                <input type="radio" name={`attr_${statAttr}${factionNumber}2`} value="0" class="track-zero shape-cross checked-hidden" checked={true} />
                <input type="radio" name={`attr_${statAttr}${factionNumber}2`} value="1" class="shape-dot" />
                <input type="radio" name={`attr_${statAttr}${factionNumber}2`} value="2" class="shape-dot" />
                <input type="radio" name={`attr_${statAttr}${factionNumber}2`} value="3" class="shape-dot" />
            </div>
            <div class="pad-left b capitalise" data-i18n="Grasp">Grasp</div>
        </div>
        <div class="grid-stat-row">
            <div class="tracker tracked-red">
                <input type="radio" name={`attr_${statAttr}${factionNumber}3`} value="0" class="track-zero shape-cross checked-hidden" checked={true} />
                <input type="radio" name={`attr_${statAttr}${factionNumber}3`} value="1" class="shape-dot" />
                <input type="radio" name={`attr_${statAttr}${factionNumber}3`} value="2" class="shape-dot" />
                <input type="radio" name={`attr_${statAttr}${factionNumber}3`} value="3" class="shape-dot" />
            </div>
            <div class="pad-left b capitalise" data-i18n="Sleight">Sleight</div>
        </div>
    </div>
    <FieldAutoExpandText
        attr={`${notesAttr}${factionNumber}`}
        classes=""
        textClasses="pad-left"
        placeholderTranslation="FactionSpecificNotes">
    </FieldAutoExpandText>
    <ClockDynamicContainer id="faction-clocks" classes="marg-top" 
        repeatAttr={`${clockPrefixAttr}${factionNumber}`} 
        sizeAttr={`${clockPrefixAttr}${factionNumber}size`} 
        progressAttr={`${clockPrefixAttr}${factionNumber}progress`} 
        descAttr={`${clockPrefixAttr}${factionNumber}desc`}>
    </ClockDynamicContainer>
</div>